<mat-toolbar color="primary">
<span>
  <a routerLink="/">MyMessages</a>
</span>
<span class="spacer"></span>
<ul>
  <li>
    <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
  </li>
</ul>

</mat-toolbar>
