<app-header></app-header>
<main>
  <router-outlet></router-outlet>
<!-- onPostAdded -func father of app-post-ctrate, app-post-create send to father, If you look at the father as a starting point, then we get bottom-up data (son to father), by "out" postCreated event at app-post-create, "out" from child to father.
 -->
<!-- ב out
האבא הוא המקבל-->
<!--out
זה מקומפוננטה החוצה -->
   <!-- <app-post-create (postCreated)="onPostAdded($event)"></app-post-create>-->
     <!-- <app-post-create></app-post-create>-->
<!-- storedPosts -arrays father of app-post-list, app-post-list get from father, If you look at the father as a starting point, then we sends up to bottom data (father to son ), by "input" posts we get to app-post-create, "input" from father to child.
 -->
<!-- ב  input
האבא הוא שולח-->
<!--input
זה לקבל אליך מקומפוננטה אחרת -->
   <!-- <app-post-list [posts]="storedPosts"></app-post-list>-->
  <!--  <app-post-list ></app-post-list>-->
</main>
