<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form"(submit)="onSavePost()" *ngIf="!isLoading">
  <mat-form-field>
        <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Titel"
        >
        <mat-error  *ngIf="form.get('title').invalid">please enter a post title</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview"  *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
   <mat-form-field>
        <textarea
        matInput
        row="6"
        formControlName="content"
        placeholder="Post Content"
     >
        </textarea>
        <mat-error ng-if="form.get('content').invalid">please enter a post content</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    type="submit">Save Post</button>
    </form>

</mat-card>









   <!--<mat-card>
    <form>
  <mat-form-field>
        <input
        matInput
        type="text"
        [(ngModel)]="enteredTitle">
    </mat-form-field>
   <mat-form-field>
        <textarea
        matInput
        row="6"
        [(ngModel)]="enteredContent">
        </textarea>
    </mat-form-field>
    <button
    mat-raised-button
    (click)="onAddPost()">Save Post</button>
    </form>

</mat-card>-->

