<mat-spinner *ngIf="isLoading"></mat-spinner>



<mat-accordion multi="true" *ngIf="posts.length && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            {{post.title}}
        </mat-expansion-panel-header>
         <p>{{post.content}}</p>
         <mat-action-row>
           <a mat-button color="primary" [routerLink]="['/edit', post.id]">Edit</a>
           <button mat-button color="warn" (click)="onDelete(post.id)" >Delet</button>
         </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>


<p class="info-txt mat-body-1" *ngIf="!posts.length  && !isLoading">No posts added yet!</p>
